.container {
    width: 350px;
    height: 350px;
    background-color: #fff;
    padding: 10px;
}

.info p{
    color: #0066c0;
}

.info .price{
    color: unset;
    margin: 5px 0;
}

button{
    background-color: #F3A847;
    padding: 5px;
    font-size: 14px;
    outline: none;
    margin: 0 auto;
    cursor: pointer;
}