nav {
    width: 100vw;
    color: #fff;
    display: flex;
    background-color: #2196f3;
}

.logo {
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.drop_menu {
    margin-left: 200px;
    list-style-type: none;
}

.drop_menu li {
    float: left;
    padding-bottom: 15px;
}

.drop_menu li a {
    padding: 5px 40px;
    text-align: left;
    display: block;
    color: #fff;
    text-decoration: none;
}

/* Submenu */
.drop_menu ul {
    position: absolute;
    left: -999px;
    top: -999px;
    list-style-type: none;
}

.drop_menu li:hover {
    position: relative;
}

.drop_menu li:hover ul {
    left: 0px;
    top: 45px;
    background: #2196f3;
    padding: 0px;
}

.drop_menu li:hover ul li a {
    /* padding: 5px; */
    display: block;
    text-indent: 15px;
    background-color: #2196f3;
}

.drop_menu li:hover ul li a:hover {
    background: #46acff;
}

.fa {
    display: flex;
    display: none;
    cursor: pointer;
    align-items: center;
    position: absolute;
    right: 5%;
    padding-top: 15px;
}

.falink {
    color: unset;
}

@media (max-width:1100px) {
    .drop_menu {
        margin-left: 0;
    }

}

@media (max-width:830px) {
    .logo {
        width: 5%;
    }
}

@media (max-width:600px) {
    .drop_menu {
        display: none;
    }

    nav {
        padding-bottom: 15px;
    }

    .logo {
        margin-bottom: 300px;
    }

    .fa {
        display: flex;
    }

    .drop_menu {
        float: none;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-left: 10%;
    }
}